
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



/* Definir cores tema Dark */
:root,
:root[data-theme="dark"] {

    --bg-body:#222;
    --cor-texto: #eee;
    
    --bg-header: #222;
    --icone-tema: #eee;

    --cor-borda:  #eee;

    --cor-txt-menu: #eee;
    --txt-menu-hover: #eee;

    --texto-opaco: #979797;
    --btn: #fff;
    --hover: #b4b4b4;

    --box-shadow: #fff;

}

/* definir cores tema light */
:root[data-theme="light"] {

    --bg-body:#dfdfdf;
    --cor-texto: #222;

    --bg-header: #dfdfdf;
    --icone-tema: #121212;

    --cor-borda:  #121212;

    --cor-txt-menu: #121212;
    --txt-menu-hover: #121212;

    --texto-opaco: #979797;
    --btn: #000;
    --hover: #5c5c5c;

    --box-shadow: #000;

}

/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[data-theme='dark'] .logo {
    filter: invert(1);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-body);/* cor do fundo */
    color: var(--cor-texto);/* cor do texto */
}

h1 {
    font-size: 45px;
    font-family: "Rubik", serif;
    letter-spacing: 2px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    font-family: "Poppins", serif;
    text-align: center;
}

i {
    color: var(--icone-tema);
    font-size: 20px; /* tamanho do texto */
}

.header-logo .logo {
    width: 3.5rem;
    height: 3.5rem;
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--bg-body);
    padding: 8px 16px;
    z-index: 2;
}

.menu {
    display: flex;
    align-items: center;
    background:var(--bg-body); /* cor do fundo */
    gap: 20px;  
    list-style: none;
}

.menu-mobile { /* < nav > */
    width: 100vw; /* viewport widht */
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--cor-borda);
}

.menu-item { /* lista = li */
    width: 100%;
}

.menu-link {
    display: flex;
    text-decoration: none;
}

.menu-texto {
    font-size: 20px;
    text-transform: uppercase;
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 7px 15px;
}

/* span = menu texto
icoen = icone do Bootstrap <i> */
.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto{
    color: var(--txt-menu-hover);
    font-weight: 600px;
}

/* não selecionados */
.menu-icone,
.menu-texto {
    color: var(--texto-opaco);
    font-weight: 200px;
}

.menu-icone {
    font-size: 25px;
}

.menu-principal {
    gap: 20px;
}

.header-nav {
    display: none;
}

#toggleTheme {
    font-size: 24px;
    color: var(--icone-tema);
    cursor: pointer;
    transition: ease-in-out .4ms;
}

/* HOME */
#home { /* id = # */
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* ATUALIZAÇOES FUTURAS */
#home, .projetos {
    padding: 32px 16px;
}

/* PROJETOS */
.projetos {
    display: flex;
    flex-direction: column;
    gap: 32x;
}

.projeto-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--box-shadow);
    object-fit: cover;
    object-position: cover;
    object-position: center;
    pointer-events: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* muda posição do conteúdo */
    align-items: flex-start;
    gap: 40px;
}

.card-title {
    font-family: "Lato", serif;
    font-size: 25px;
    font-weight: 600;
}

.card-description {
    font-family: "Raleway", serif;
    font-size: 18px;
}

.card-list {
    list-style: disc;
    font-size: 15px;
    margin-left: 15px;
    font-family: "Lato", serif;
}

.card-item { /* LI */
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 5px;
}

/* btn */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--btn);
}

.btn-primary {
    border: 1px solid var(--btn);
}

.btn span {
    color: var(--btn);
    font-size: 15px;
    text-transform: uppercase;
}

.btn i {
    font-size: 18px;
}

.btn:hover {
    transform: scale(1.03);
}

.btn:hover span {
    color: var(--hover);
}

a {
    text-decoration: none;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/9;
}


/* CSS Responsivo */
@media (min-width: 768px) { /* a partir de: 768px */
    #header {
        position: fixed;
        border-bottom: 1px solid #f3f3f3;
        padding: 16px 80px;
        background: var(--bg-body);
    }
    .nav-mobile {
        display: none;
    }
    .header-nav {
        display: flex;
    }
    #home {
        padding: 128px 96px 64px 96px;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* 992px */
@media (min-width: 992px) {
    .projeto-card {
        flex-direction: row;
    }
    .card-img {
        width: 45%;
    } 
}

/* 1200px */
@media (min-width: 1200px) {
    #home {
        padding: 160px 96px 32px;
    }
}

   /*  @media (min-width: 1400px) /* ajustar */  
